@import './../icons.scss';

:host {
  --bg-color: #2f3640;
  --bg-color-preview: white;
  --color-preview: grey;
  --preview-color-shadow: rgba(0, 0, 0, 0.2);
  --bg-color-preview-hover: rgb(240, 240, 240);
  --border-radius: 40px;
  --primary-color: rgb(29, 202, 255);
  --width: 300px;
}

.container {
  width: var(--width);
}

.searchBox {
  position: relative;
  background: #2f3640;
  border-radius: var(--border-radius);
  display: flex;
  padding: 0px;
  border: none;
  width: 80%;
  transition: 0.4s;
}

.searchBox:focus-within {
  width: 100%;
}

.searchButton {
  color: black;
  cursor: pointer;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  outline: none;
  border-color: var(--primary-color);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 100%;
  padding: 0 6px;
}

#input:focus {
  width: 100%;
  padding: 0 6px;
}

#input:focus ~ .searchButton {
  background-color: var(--primary-color);
  color: white;
  border-color: white;
}


ul {
  position: absolute;
  top: 100%;
  margin: 0;
  height: var(--sidebar-min-height);
  padding: 0;
  padding: var(--padding-y) 0vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100%;
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
  display: none;
}


li {
  background-color: var(--bg-color-preview);
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 15px var(--preview-color-shadow);
  cursor: pointer;
  margin-top: 5px;
  user-select: none;
  list-style: none;
  color: var(--color-preview);
  font-size: 1em;
  padding: 10px 0px;
  padding-left: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

li:hover {
  background-color: var(--bg-color-preview-hover);
  color: var(--primary-color);
}